.btn_reserver-table{
    background-color: #dec627;
    color: #000;

}
.btn_livraison{
    background-color: #000;
    color: #dec627;
}

.btn_emporter{
    background-color: #f4e686;
    color: #000;
}